<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('_partials/01head'); -%>
</head>

<body>
<div class="container-fluid">

	<section class="row" style="min-height:450px">
		<div class="clearfix">&nbsp;</div>
		<div class="col-sm-8">
			<div class="well">
				<h1>SuperMEAN-MPA</h1>
				<p class="oboji">SuperMEAN MPA works !!!</p>
				<p id="checkJQ">Click <u>here</u> to check jQuery.</p>
				<p><a href="/badurl">Open</a> bad URL.</p>
				See another <a href="/page">PAGE</a> !
			</div>
		</div>
	</section>


	<%- include('_partials/20footer'); -%>

</div>

	<!-- jQuery -->
	<script src="/bower/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Theme JavaScript -->
	<script src="/assets/js/supermean.js"></script>

</body>

</html>
